body {
  background: url('../images/login_background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#content{
  margin-top: 150px;
  background: #000000;
  opacity: 0.8;
  font-family: Verdana,sans-serif;
  color: #fff;
  font-weight: bold;
  border-radius: 25px;
}

@media screen and (max-width: 800px) {
#content {
margin-top: 50px; }
}
